/*
 * Rank Color Codes
 */
#info h4 {
  margin-top: 10px; }
#info h5 {
  color: #fff; }

/*
 * Rank Color Codes
 */
/*# sourceMappingURL=_findUs.scss.map */
#monks .monkWrapper {
  min-height: 200px; }
  #monks .monkWrapper .monkDetails {
    font-size: larger;
    margin-left: 5  qpx;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    padding-left: 210px;
    min-height: 200px;
    width: 100%;
    margin-bottom: 10px; }
  #monks .monkWrapper .monkImage {
    height: 200px;
    width: 200px;
    float: left; }
  #monks .monkWrapper .name {
    font-weight: bold;
    color: #fff; }

body {
  font-family: 'Shadows Into Light Two', cursive; }

.bold {
  font-weight: bold; }

.Abbot {
  color: #fefc5e; }

.Elder {
  color: #fb4145; }

.Brother {
  color: #4dfefd; }

.Adept {
  color: #1fbebd; }

.PubWorks {
  color: #4bfc4e; }

.Guest {
  color: #fff; }
