#monks {

  .monkWrapper {
    min-height: 200px;

    .monkDetails {
      font-size: larger;
      //border: 1px green solid;
      //float: left;
      margin-left: 5  qpx;
      background-size: 200px 200px;
      background-repeat: no-repeat;
      padding-left: 210px;
      min-height: 200px;
      width: 100%;
      margin-bottom: 10px;
    }

    .monkImage {
      height: 200px;
      width: 200px;
      float: left;
    }

    .name {
      font-weight: bold;
      color: #fff;
    }

  }

}