@import "customVars",
        "info",
        "findUs",
        "monks";

body {
  font-family: 'Shadows Into Light Two', cursive;
}

.bold {
  font-weight: bold;
}

.Abbot {
  color: $abbot;
}

.Elder {
  color: $elder;
}

.Brother {
  color: $brother;
}

.Adept {
  color: $adept;
}

.PubWorks {
  color: $pubWorks;
}

.Guest {
  color: #fff;
}