<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Minecraft Monks</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/half-slider.css" rel="stylesheet">

    <!-- My CSS -->
    <link href="css/lavish.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

    <-- Google Fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="mcmonks">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="Home">Minecraft Monks</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="About">About</a>
                    </li>
                    <li>
                        <a ui-sref="Monks">Meet the Monks</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#">Map</a>-->
                    <!--</li>-->
                    <li>
                        <a ui-sref="FindUs">Find Us</a>
                    </li>
                    <li>
                        <a ui-sref="Info">Info</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" ng-controller="CarouselController as cc">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="img in cc.images" ng-class="{ active : $first === true}"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item" ng-class="{ active : $first === true }" ng-repeat="img in cc.images">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ img.url }}');"></div>
                <!--<div class="carousel-caption">-->
                    <!--<h3>{{ img.caption }}</h3>-->
                <!--</div>-->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12" ui-view>
                <!-- CONTENT HERE -->
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; Minecraft Monks 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


    <!-- jQuery -->
    <script src="js/lib/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
    interval: 5000 //changes the speed
    })
    </script>

    <!-- build:js scripts/app.min.js -->
    <script src="js/app.js"></script>
    <script src="js/carouselController.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/view-scripts.min.js -->
    <script src="views/Home/home.js"></script>
    <script src="views/About/about.js"></script>
    <script src="views/Monks/monks.js"></script>
    <script src="views/Info/info.js"></script>
    <script src="views/FindUs/findUs.js"></script>
    <!-- endbuild -->

</body>

</html>
