<div id="#findUs">
    <p>
        The server is a <span class="Guest">whitelist-only</span> server, so uh...we need to meet you first.
    </p>
    <p>
        We can usually be found lurking in #minecraftmonks on <a href="https://www.synirc.net/chat">Syn IRC</a>.
        Come by.  Hang out.  Be cool.  Soon we'll invite you to create with us.
    </p>
</div>