<div id="info">
    <h4>Basic Guidelines (not "rules" per se)</h4>
    <ul>
        <li>Be nice.  Be really nice.  Say hello to people.  Visit them.  Leave presents!</li>
        <li>Respect other people's work and effort.</li>
        <li>Clean up after yourself.  Don't chop 2 blocks out of a tree and leave the rest, for example.</li>
        <li>Don't beg for ops.  Won't happen.</li>
        <li>Strive to create beauty and harmony.</li>
        <li>Have fun.</li>
        <li>Did we mention be nice?  Well it's worth mentioning again.</li>
    </ul>
    <h4>Guide For New Players</h4>
    <h5>Where Am I?</h5>
    <p>You are currently standing in Center Village, located conveniently near the Center of the Map [0, 0].
    You are a <span class="Guest">Guest</span> rankwise, which means you can't do much but look around.  But you
        should definitely do that.  Some points of interest about Center Village:  there are two shops: Dry Goods (to
        the left of the Arch as you enter the village), and the Armory (in between the Church and the Great Hall).  The
        shops will let you buy things with the $100 you started with.  We hope to one day have a full fledged server
        economy, but for now, it's something of a free-for-all.
    </p>
    <p>
        Outside the arch and to the right are the Guest Bungalows.  If it's nighttime, you can pop into one of these
        to grab a bed for the night.  The area within 1km (1000 blocks) of the village is build-protected, but there
        are plenty of buildings already there to explore!  Feel free to have a walk around.  South is probably the
        best direction to head in.  Beware of mobs.  They can't damage structures in this area, but they can damage YOU.
    </p>
    <p>
        So you've explored and decided you like to stay.  Chat up one of the Ops ([<span class="Elder">Elder Brother</span>])
        or the [<span class="Abbot">Abbot</span>] about promoting you to <span class="Adept">Adept</span>.  As an
        <span class="Adept">Adept</span> you will be able to play Survival minecraft just like anyone else.  Now it is
        time to choose a home.
    </p>
    <h5>Choosing a Home (aka 'The Great Gamble')</h5>
    <p>
        In Real Life&#8482; we don't always get to choose where we are born and live.  In our world, you at least get to
        pick a <em>direction</em>.  I would say "choose wisely" but really, it doesn't matter much.  All locations are
        roughly as good as any other. <br/>

        The low, rectangular building just outside the Arch is the <span class="Guest bold">Center Teleport Hub</span>.
        You will spend a lot of time here.<br/>
        There are 5 rooms total:
        <ul>
            <li>The Known Locales Room</li>
            <li>The Cardinal Direction Rooms (North, South, East, West)</li>
        </ul>
        The <span class="Guest">Known Locales Room</span> is just what it sounds like.
        These teleporters will take you to interesting locations on the map, or more commonly- to people's personal
        homes.  If you do visit someone's home, common courtesy applies:  don't take anything which isn't yours, don't
        build anything without permission, etc.  Everyone likes to show off their builds, so feel free to look around.
        Do <em>not</em> make your Home in a Known Locale without the express permission of the person who already lives
        there.  If you want to make a home, head for one of the Direction Rooms in the Center Hub.<br/><br/>

        Each of the <span class="Guest">Cardinal Direction Rooms</span> has teleports which will travel in two directions.  For example the South
        Room has teleports which travel due South, and Southwest.  Each direction has teleports which go 5,000, 20,000,
        100,000, 500,000 and 1 Million blocks.  These teleports <b>do not</b> have return stations.  Once you choose -
        you are <b>there</b> for the time being.  For some perspective:  it takes roughly 90 seconds of real-time to
        fly 1000 blocks in Creative Mode.  Walking on the ground takes a lot longer.  Fear not, take a deep breath and
        step into a teleport!  And welcome to your new home!
    </p>
    <h5>Becoming a Resident</h5>
    <p>
        Once you have found a pleasing location, and established a permanent home there, once again - chat up an
        <span class="Elder">Elder</span>/<span class="Abbot">Abbot</span> about getting promoted to
        <span class="Brother">Brother</span> (or Sister as the case may be).  You will then have access to the /home,
        /sethome and /delhome commands.  Also - a builder will come out and build you a teleport which connects your
        home to the Center Hub Known Locales room.  Now you will be able to freely travel to and from Center Village.<br/>
        <br/>
        You are now One of Us!  Talk with the <span class="Abbot">Abbot</span> about getting added to the
        <a ui-sref="Monks">Meet The Monks</a> page.

    </p>
</div>