<h2>Welcome!</h2>

<p>This is the home of the Minecraft Monks Server.  Feel free to poke around, meet the monks and take look
at the gallery.  See the Info page for how to apply to become one of us.
</p>