<h2>About</h2>

<p>
    Monk's Minecraft is a whitelist-only minecraft server operated by Monk.  The idea was to attract players
    and friends who have a similar play/build style to his own.  The general guidelines are:
</p>
<ul>
    <li>Be super chill and friendly</li>
    <li>Emphasis on real-world structures</li>
    <li>Emphasis on beauty and harmony</li>
    <li>Strive to impress each other</li>
    <li>Always be improving</li>
</ul>
<p>
    If you like what you see in our gallery, come play with us!  Check the <a ui-sref="FindUs">Find Us</a> page
    to see about joining us.
</p>
