<div id="monks" ng-controller="MonksController as mc">
<h3>Meet the Monks</h3>

<p>These are the Minecraft Monks themselves:</p>

    <div ng-repeat="monk in mc.monks">
        <div class="monkWrapper">
            <div class="monkDetails" style="background-image:url('{{ monk.image }}');">
                [<span class="{{ monk.class }}">{{ monk.rank }}</span>] <span class="name">{{ monk.name }}</span><br/>
                aka: {{ monk.aka }}<br/>
                &quot;{{ monk.quote }}&quot;<br/>
                bio: {{ monk.bio }}<br/>
            </div>
        </div>
    </div>
</div>